In [1]:
import pandas as pd

In [14]:
file = '/data/uurgeg_344_2011-2020.txt'

In [27]:
df = pd.read_csv(file, skiprows=30)

In [30]:
df[20:30]

,# STN,YYYYMMDD,HH,DD,FH,FF,FX,T,T10N,TD,...,VV,N,U,WW,IX,M,R,S,O,Y
20,344,20110101,21,300,20,20,40,-4,,-12,...,64,3,94,,5,0,0,0,0,0
21,344,20110101,22,280,10,10,30,8,,1,...,63,8,95,,5,0,0,0,0,0
22,344,20110101,23,330,20,30,30,7,,-5,...,65,8,92,,5,0,0,0,0,0
23,344,20110101,24,330,20,30,40,19,-54,6,...,65,8,91,,5,0,0,0,0,0
24,344,20110102,1,320,30,30,50,20,,5,...,70,8,90,,5,0,0,0,0,0
25,344,20110102,2,300,30,30,60,17,,-5,...,70,8,85,22,7,0,1,0,0,0
26,344,20110102,3,330,10,10,30,14,,-7,...,70,6,86,1,7,0,0,0,0,0
27,344,20110102,4,310,20,30,40,-1,,-16,...,70,5,88,,5,0,0,0,0,0
28,344,20110102,5,300,30,30,40,-4,,-25,...,70,4,84,,5,0,0,0,0,0
29,344,20110102,6,320,40,30,60,21,-47,4,...,65,8,88,51,7,0,1,0,0,0

In [61]:
time_filter = (df['   HH']<=8) | (df['   HH']>=20) 
time_filter.head()

0    True
1    True
2    True
3    True
4    True
Name:    HH, dtype: bool

In [62]:
time_filter = df[time_filter]

In [66]:
temp_filter = time_filter['    T']>=240
temp_filter = time_filter[temp_filter]
temp_filter.head(20)

,# STN,YYYYMMDD,HH,DD,FH,FF,FX,T,T10N,TD,...,VV,N,U,WW,IX,M,R,S,O,Y
4255,344,20110627,8,150,40,40,70,250,,175,...,74,0,63,,5,0,0,0,0,0
4267,344,20110627,20,110,20,30,30,272,,164,...,83,0,52,,5,0,0,0,0,0
4269,344,20110627,22,120,30,30,40,249,,184,...,80,1,67,,5,0,0,0,0,0
4270,344,20110627,23,130,20,10,40,251,,182,...,80,1,66,,5,0,0,0,0,0
4273,344,20110628,2,130,30,40,50,242,,186,...,72,8,71,,5,0,0,0,0,0
4277,344,20110628,6,110,20,20,50,260,180,191,...,69,6,66,,5,0,0,0,0,0
4278,344,20110628,7,210,20,40,80,249,,183,...,79,8,67,91,7,0,0,0,1,0
13711,344,20120725,8,50,10,10,20,244,,189,...,62,0,71,,5,0,0,0,0,0
14287,344,20120818,8,150,40,40,80,247,,155,...,78,0,57,,5,0,0,0,0,0
14309,344,20120819,6,140,20,20,40,241,158,192,...,75,0,74,,5,0,0,0,0,0
14310,344,20120819,7,170,30,40,50,254,,187,...,80,0,66,,5,0,0,0,0,0
14311,344,20120819,8,180,40,30,70,272,,187,...,82,0,60,,5,0,0,0,0,0
14323,344,20120819,20,130,30,30,70,243,,203,...,61,8,78,23,7,0,1,0,0,0
22387,344,20130721,20,10,20,20,40,243,,167,...,80,0,63,,5,0,0,0,0,0
22398,344,20130722,7,40,10,10,20,240,,172,...,66,0,66,,5,0,0,0,0,0
22399,344,20130722,8,30,10,10,20,265,,175,...,66,0,58,,5,0,0,0,0,0
22422,344,20130723,7,340,10,10,20,240,,187,...,68,0,72,,5,0,0,0,0,0
22423,344,20130723,8,10,20,20,30,266,,176,...,77,0,58,,5,0,0,0,0,0
22639,344,20130801,8,170,30,40,50,243,,175,...,80,0,66,,5,0,0,0,0,0
22651,344,20130801,20,150,40,40,70,279,,161,...,82,0,49,,5,0,0,0,0,0

In [67]:
recent_years_filter = temp_filter['YYYYMMDD'] >= 20200101
recent_years_filter = temp_filter[recent_years_filter]
len(recent_years_filter['YYYYMMDD'].unique())

14

In [68]:
len(temp_filter['YYYYMMDD'].unique())

66

In [32]:
df.columns

Index([u'# STN', u'YYYYMMDD', u'   HH', u'   DD', u'   FH', u'   FF', u'   FX',
       u'    T', u' T10N', u'   TD', u'   SQ', u'    Q', u'   DR', u'   RH',
       u'    P', u'   VV', u'    N', u'    U', u'   WW', u'   IX', u'    M',
       u'    R', u'    S', u'    O', u'    Y'],
      dtype='object')

In [60]:
len(df)

87672